<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{{seo.title}}</title>

    <link rel="canonical" href="{{seo.url}}">
    <meta name="description" content="{{seo.description}}">
    <meta property="og:title" content="{{seo.title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:image" content="{{seo.image}}">
    <meta name="twitter:card" content="summary">

    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="wrapper">
    <div class="content" role="main">


        <h1 class="title">{{seo.title}}</h1>
        {{#if error}}
            <div class="error-message">{{error}}</div>
        {{/if}}

        <div class="bunny-builder">
            <form class="bunny-builder-form" method="post">
                <label for="background">
                    Select background color
                    <div class="cc-selector">
                        <input id="midBlue" type="radio" name="background" value="midBlue"/><label
                            class="drinkcard-cc option-midBlue" for="midBlue"></label>
                        <input id="darkRed" type="radio" name="background" value="darkRed"/><label
                            class="drinkcard-cc option-darkRed" for="darkRed"></label>
                        <input id="darkGreen" type="radio" name="background" value="darkGreen"/><label
                            class="drinkcard-cc option-darkGreen" for="darkGreen"></label>
                        <input id="midOrange" type="radio" name="background" value="midOrange"/><label
                            class="drinkcard-cc option-midOrange" for="midOrange"></label>
                        <input id="darkTurquoise" type="radio" name="background" value="darkTurquoise"/><label
                            class="drinkcard-cc option-darkTurquoise" for="darkTurquoise"></label>
                        <input id="darkBlue" type="radio" name="background" value="darkBlue"/><label
                            class="drinkcard-cc option-darkBlue" for="darkBlue"></label>
                        <input id="darkOrange" type="radio" name="background" value="darkOrange"/><label
                            class="drinkcard-cc option-darkOrange" for="darkOrange"></label>
                        <input id="deepPurple" type="radio" name="background" value="deepPurple"/><label
                            class="drinkcard-cc option-deepPurple" for="deepPurple"></label>
                        <input id="midviolet" type="radio" name="background" value="midviolet"/><label
                            class="drinkcard-cc option-midviolet" for="midviolet"></label>
                        <input id="skyblue" type="radio" name="background" value="skyblue"/><label
                            class="drinkcard-cc option-skyblue" for="skyblue"></label>
                    </div>

                </label>
                <br>
                <label for="bodyMainColor">
                    Select a body color schema
                    <div class="cc-selector">
                        <input id="brown" type="radio" name="bodyMainColor" value="brown"/>
                        <label
                                class="drinkcard-cc option-base-brown" for="brown"></label>
                        <input id="white" type="radio" name="bodyMainColor" value="white"/>
                        <label
                                class="drinkcard-cc option-base-white" for="white"></label>
                        <input id="black" type="radio" name="bodyMainColor" value="black"/>
                        <label
                                class="drinkcard-cc option-base-black" for="black"></label>
                        <input id="bright" type="radio" name="bodyMainColor" value="bright"/>
                        <label
                                class="drinkcard-cc option-base-bright" for="bright"></label>
                        <input id="grey" type="radio" name="bodyMainColor" value="grey"/>
                        <label
                                class="drinkcard-cc option-base-grey" for="grey"></label>
                        <input id="orange" type="radio" name="bodyMainColor" value="orange"/>
                        <label
                                class="drinkcard-cc option-base-orange" for="orange"></label>
                    </div>

                </label>
                <br>
                <label for="bodyPattern">
                    Select spot pattern
                    <div class="cc-selector">
                        <input id="base" type="radio" name="bodyPattern" value="base"/>
                        <label
                                class="drinkcard-cc option-pattern-base" for="base"></label>
                        <input id="many" type="radio" name="bodyPattern" value="many"/>
                        <label
                                class="drinkcard-cc option-pattern-many" for="many"></label>
                        <input id="forehead" type="radio" name="bodyPattern" value="forehead"/>
                        <label
                                class="drinkcard-cc option-pattern-forehead" for="forehead"></label>
                        <input id="belly" type="radio" name="bodyPattern" value="belly"/>
                        <label
                                class="drinkcard-cc option-pattern-belly" for="belly"></label>
                        <input id="cheeks" type="radio" name="bodyPattern" value="cheeks"/>
                        <label
                                class="drinkcard-cc option-pattern-cheeks" for="cheeks"></label>
                        <input id="eye" type="radio" name="bodyPattern" value="eye"/>
                        <label
                                class="drinkcard-cc option-pattern-eye" for="eye"></label>
                    </div>

                </label>
                <br>
                <label for="bodyOffColor">
                    Select spot color
                    <div class="cc-selector">
                        <input id="oc-brown" type="radio" name="bodyOffColor" value="brown"/>
                        <label
                                class="drinkcard-cc option-off-color-brown" for="oc-brown"></label>
                        <input id="oc-white" type="radio" name="bodyOffColor" value="white"/>
                        <label
                                class="drinkcard-cc option-off-color-white" for="oc-white"></label>
                        <input id="oc-black" type="radio" name="bodyOffColor" value="black"/>
                        <label
                                class="drinkcard-cc option-off-color-black" for="oc-black"></label>
                        <input id="oc-bright" type="radio" name="bodyOffColor" value="bright"/>
                        <label
                                class="drinkcard-cc option-off-color-bright" for="oc-bright"></label>
                        <input id="oc-grey" type="radio" name="bodyOffColor" value="grey"/>
                        <label
                                class="drinkcard-cc option-off-color-grey" for="oc-grey"></label>
                        <input id="oc-orange" type="radio" name="bodyOffColor" value="orange"/>
                        <label
                                class="drinkcard-cc option-off-color-orange" for="oc-orange"></label>
                    </div>

                </label>
                <br>
                <label for="voucher">
                    Enter your voucher code.<br>
                    <input id="voucher" name="voucher" required="required" type="text" class="text-input">
                </label>

                <br>
                <label for="eoa">
                    Enter your Ethereum address<br>
                    <input id="eoa" name="eoa" required="required" type="text" class="text-input">
                </label>

                <button type="submit">Submit</button>
            </form>
        </div>

        <div class="instructions">
            <h2>
                About this project
            </h2>
            <p>
                This project gives you the opportunity to create your own Bunny and mint it as an SRR (Startrail
                Registry Record) and send it to an Ethereum Address of your choice.<br>
                Enter your selected features as well as your voucher code and ethereum address and submit, and we will
                magically pull your rabbit out of the the magic hat and send it to the address. <br>
                Click <b><a href="/">here</a></b> to see the bunnies others have created for this collection.
            </p>
            <h2>
                Don't have a voucher?
            </h2>
            <p>
                No problem. Let's get in touch, and I will send you one. <br>
                What? You don't know how? I was afraid this might happen. <br>
                If you don't know how to get in touch with me, maybe you should not be here :).<br>
                If that still does not stop you try jens@startbahn.jp
            </p>
        </div>

    </div>
</div>

<footer class="footer">
    <div class="links"></div>
    <a class="btn--remix"
       target="_blank"
       href="https://github.com/jdwstartb/SRRNFTVoucherService">
        <img
                src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                alt=""
                width="14"
                height="14"
        />
        View on Github
    </a>
    <a
            class="btn--remix"
            target="_top"
            href="https://glitch.com/edit/#!/remix/glitch-hello-node"
    >
        <img
                src="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FLogo_Color.svg?v=1618199565140"
                alt=""
        />
        Remix on Glitch
    </a>
</footer>
</body>
</html>
