<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Get Your own {{seo.title}}</title>

    <link rel="canonical" href="{{seo.url}}">
    <meta name="description" content="{{seo.description}}">
    <meta property="og:title" content="{{seo.title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:image" content="{{seo.image}}">
    <meta name="twitter:card" content="summary">

    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="header">
    <h1 class="title">Get your own {{seo.title}}</h1>
</div>
<div class="wrapper">
    <div class="content" role="main">
        {{#if error}}
            <div class="error-message">{{error}}</div>
        {{/if}}

        <div class="instructions">
            <h2>
                How To:
            </h2>
            <p>
                Select the features for your Startbahninchen as well as your voucher code and ethereum address and
                submit. Then we will pull your rabbit out of the magic hat and send it to the specified address. <br>
            </p>

        </div>

        <div class="bunny-builder">
            <form class="bunny-builder-form" method="post">


                {{> fragments}}
                <label for="bodyOffColor">
                    Select spot color
                    <div class="cc-selector">
                        <input id="oc-brown" type="radio" name="bodyOffColor" value="brown"/>
                        <label
                                class="drinkcard-cc option-off-color-brown" for="oc-brown"></label>
                        <input id="oc-white" type="radio" name="bodyOffColor" value="white"/>
                        <label
                                class="drinkcard-cc option-off-color-white" for="oc-white"></label>
                        <input id="oc-black" type="radio" name="bodyOffColor" value="black"/>
                        <label
                                class="drinkcard-cc option-off-color-black" for="oc-black"></label>
                        <input id="oc-bright" type="radio" name="bodyOffColor" value="bright"/>
                        <label
                                class="drinkcard-cc option-off-color-bright" for="oc-bright"></label>
                        <input id="oc-grey" type="radio" name="bodyOffColor" value="grey"/>
                        <label
                                class="drinkcard-cc option-off-color-grey" for="oc-grey"></label>
                        <input id="oc-orange" type="radio" name="bodyOffColor" value="orange"/>
                        <label
                                class="drinkcard-cc option-off-color-orange" for="oc-orange"></label>
                    </div>

                </label>
                <br>
                <label for="voucher">
                    Enter your voucher code.<br>
                    <input id="voucher" name="voucher" required="required" type="text" class="text-input">
                </label>

                <br>
                <label for="eoa">
                    Enter your Ethereum address<br>
                    <input id="eoa" name="eoa" required="required" type="text" class="text-input">
                </label>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<div class="about-wrapper">
    <div class="about">
        <h2 class="about-head">
            About this project
        </h2>
        <p class="about-text">
            This project celebrates the love for all things art and blockchain as well as the respect for creativity
            and diversity.
        </p>
    </div>
</div>

<footer class="footer">
    <div class="links">
        <a class="btn--remix"
           href="/">
            <img
                    src="/favicon.svg"
                    alt=""
                    width="14"
                    height="14"
            />
            Startbahninchen Gallery
        </a><br>
        <a class="btn--remix"
           href="/yours">
            <img
                    src="/favicon.svg"
                    alt=""
                    width="14"
                    height="14"
            />
            Get your Startbahninchen
        </a><br>
        <a class="btn--remix"
           href="/faq">
            <img
                    src="/favicon.svg"
                    alt=""
                    width="14"
                    height="14"
            />
            FAQ
        </a><br>
        <a class="btn--remix"
           target="_blank"
           href="https://startbahn.io/startrail">
            <img
                    src="https://startrail.io/images/front/startrail-top__main.svg"
                    alt=""
                    width="14"
                    height="14"
            />
            Powered by Startrail
        </a><br>
        <a class="btn--remix"
           target="_blank"
           href="https://pinata.cloud">
            <img
                    src="https://global-uploads.webflow.com/629e4fe96456f848f903e7ef/629e8dd0cb71895ca865b5f3_pinata-logo-color.svg"
                    alt=""
                    width="14"
                    height="14"
            />
            Powered by Pinata
        </a><br>
        <a class="btn--remix"
           target="_blank"
           href="https://github.com/jdwstartb/SRRNFTVoucherService">
            <img
                    src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                    alt=""
                    width="14"
                    height="14"
            />
            View on Github
        </a><br>
        <a
                class="btn--remix"
                target="_top"
                href="https://glitch.com/edit/#!/remix/feather-diamond-virgo"
        >
            <img
                    src="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FLogo_Color.svg?v=1618199565140"
                    alt=""
            />
            Remix on Glitch
        </a>
    </div>
</footer>
</body>
</html>
