<!DOCTYPE html>
<html lang="en">
{{>headerPart pageName="Gallery"}}
<body>
<div class="header">
    <h1 class="title">{{seo.title}} Gallery</h1>
</div>

<div class="wrapper">
    <div class="content" role="main">


        <div id="collection">
            {{#each galleryEntries}}
                <div class="gallery">

                    <a target="_blank" href="{{viewerUrl}}">
                        <img src="{{imageUrl}}" alt="SRR Token: {{srrId}}" width="600" height="400">
                    </a>
                    <div class="desc">"{{title}}"<br>(SRR Token: {{srrId}})</div>
                </div>
            {{/each}}
        </div>


    </div>
</div>
{{> footer}}
</body>
</html>
